.fixed-menu {
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
}
.long-horizontal-line{
  border-bottom: 2px solid black;
  width: 100%;
  margin: 10px 0 10px 0;
}
.button-indicate{
  background-color: transparent;
  border-radius: 10px ;
  border: transparent;
}
.button-indicate, .fa-download:hover{
  background-color: antiquewhite;
}
.fa-download{
  color: black;
  top: 30%;
  margin-left: 1%;
}